/FirstLesson/3 task/data_rus.txt
/FirstLesson/1 task/text.txt
/FirstLesson/1 task/output.txt
/FirstLesson/2 task/Key.txt
/FirstLesson/2 task/output.txt
/FirstLesson/2 task/text.txt
/FirstLesson/3 task/data_rus.txt
